mixin card(num)
  .offers__card
    .offers__card_mark
      img(src="../images/offers_brand" + num + ".png")
      p RENAUT
    .offers__card_title
      p Renaut Arkana
      a(href="#") Лучшая цена
    img.offers__card_img(src="../images/offers_car" + num + ".png")
    p.offers__card_price От 2 714 000 руб.
    p.offers__card_left Осталось 1 авто