.logo {
  display: flex;
  color: #FECD00;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .logo {
    justify-content: center;
  }
}

.logo__span {
  color: black;
}

.logo_theme_white {
  color: white;
}
