#main.block_inner
  h1 Быстро выбрать и выгодно купить
    br
    | авто от официального дилера
  .main__p Найдите самые выгодные цены на покупку, обслуживание и ремонт авто
  .main__list
    include elements/checkboxes.element/element.pug
    include elements/countries.element/element.pug
  include elements/input_group.element/element.pug
  button.main__button Показать 1377 авто