#advantages.block_inner
  h2 Преимущества 
    span.advantages__span AUR
    span AUTO
  .advantages__items
    .advantages__item
      img.advantages__img(src="../images/advantages_car.png")
      p.advantages__p 36 923 авто в наличии от официальных дилеров
    .advantages__item
      img.advantages__img(src="../images/advantages_search.png")
      p.advantages__p Персональный подбор предложений на авто с дополнительной скидкой
    .advantages__item
      img.advantages__img(src="../images/advantages_price.png")
      p.advantages__p Реальные цены и скидки мы получаем напрямую от дилеров
    .advantages__item
      img.advantages__img(src="../images/advantages_info.png")
      p.advantages__p Вся информация есть у нас — вам не надо ехать к дилерам
