mixin link(name, link)
  li.header__item
    a.header__link(href= link)= name

header
  include ../ad.block/block.pug
  .header__bottom
    ol.header__items
      .header__empty
      .header__empty
      .header__empty
      +link('Сервисы и ТО', 'href')
      +link('Авто с пробегом', 'href')
      +link('Юр. лицам и ИП', 'href')
      +link('Сотрудничество', 'href')
      include elements/country.element/element.pug
    .header__list
      include ../../elements/logo.element/element.pug
      +logo(false)
      include elements/category.element/element.pug
      include elements/search.element/element.pug
      include elements/auth.element/element.pug
