.header__bottom
  @media (max-width: 1240px)
    display: flex
    flex-direction: column-reverse

.header__empty
  @media (max-width: 1240px)
    display: none

.header__items
  background: #EF7820

  @media (max-width: 1240px)
    background: none

.header__items_inner
  display: flex
  justify-content: space-between
  align-items: center
  min-height: 48px

  @media (max-width: 1240px)
    flex-wrap: wrap

.header__item
  list-style: none

.header__link
  color: #FFF
  text-align: center
  font-family: Roboto
  font-size: 16px
  font-style: normal
  font-weight: 400
  line-height: normal

  @media (max-width: 1240px)
    display: flex
    flex-direction: column
    justify-content: center
    flex-shrink: 0
    color: #000
    text-align: center
    font-family: Roboto
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: normal
    margin-top: 18px
    color: black
    background: #FECD00
    padding: 15px
    border-radius: 6px

.header__list_inner
  display: flex
  justify-content: space-between
  align-items: center
  min-height: 98px

  @media (max-width: 1240px)
    flex-wrap: wrap
