@media (max-width: 1240px) {
  .header__bottom {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 1240px) {
  .header__empty {
    display: none;
  }
}

.header__items {
  background: #EF7820;
}

@media (max-width: 1240px) {
  .header__items {
    background: none;
  }
}

.header__items_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
}

@media (max-width: 1240px) {
  .header__items_inner {
    flex-wrap: wrap;
  }
}

.header__item {
  list-style: none;
}

.header__link {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1240px) {
  .header__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 18px;
    color: black;
    background: #FECD00;
    padding: 15px;
    border-radius: 6px;
  }
}

.header__list_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 98px;
}

@media (max-width: 1240px) {
  .header__list_inner {
    flex-wrap: wrap;
  }
}
