.select {
  border: 1px solid #969696;
  background: #FFF;
  padding: 0px 25px;
  color: #969696;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: url("down_arrow.png"), #FFF;
  background-repeat: no-repeat;
  background-position: right 1rem center;
}

.select:focus {
  outline: none;
}
