extends base.pug

block content
  include ../components/marks.block/block.pug
  include ../components/maintenance.block/block.pug
  include ../components/advantages.block/block.pug
  include ../components/main.block/block.pug