footer {
  background: black;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 223px;
  padding: 35px 0;
}

@media (max-width: 1240px) {
  .footer__inner {
    flex-direction: column;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 455px;
  height: 100%;
  padding: 45px 0;
}

@media (max-width: 1240px) {
  .footer__list {
    align-items: center;
  }
}

.footer__p {
  color: #FFF;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 15px;
}

@media (max-width: 1240px) {
  .footer__p {
    text-align: center;
  }
}

.footer__ul {
  color: white;
  list-style: circle;
}

.footer__img {
  width: 243px;
  height: 64p;
  flex-shrink: 0;
}
