footer
  .footer__inner.block_inner
    .footer__list
      include ../../elements/logo.element/element.pug
      +logo(true)
      p.footer__p Политика конфиденциальности
        br
        | 2023 ©Все права защищены
    ul.footer__ul
      li.footer__li О сайте
      li.footer__li Стать партнером
      li.footer__li Помощь
    .footer__list
      img.footer__img(src="../images/google_play.png")
      img.footer__img(src="../images/app_store.png")
    .footer__list
      .footer__p Нужна помощь? Закажите бесплатную консультацию наших специалистов.Перезвоним через 15 минут.
      include elements/search.element/element.pug