#offers.block_inner
  .offers__header
    p.offers__title.show_1000 Лучшие предложения
    .offers__arrows
      img.slider__arrow_left#slider__offers(src="../images/slider_arrow_left.png")
      img.slider__arrow_right#slider__offers(src="../images/slider_arrow_right.png")
    p.offers__title.hidden_1000 Лучшие предложения
    a.offers__button(href="#") Смотреть все
  include elements/slider.element/element.pug
