.main__countries {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 287px;
}

@media (max-width: 1240px) {
  .main__countries {
    width: 240px;
  }
}

@media (max-width: 1000px) {
  .main__countries {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 49px;
  }
}

.main_country_img {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
