#partners.block_inner
  h2 Наши партнеры 
    span.hidden_1000 —официальные дилеры
  p
    img.slider__arrow_left.show_1000#slider__partners(src="../images/slider_arrow_left.png")
    span Более 1175 дилеов...
    img.slider__arrow_right.show_1000#slider__partners(src="../images/slider_arrow_right.png")
  include elements/slider.element/element.pug