#maintenance
  .maintenance__container.block_inner
    p.maintenance__title Техобслуживание со скидкой до 60%
    p.maintenance__text Экономия до 50 000 Р на обслуживание авто. Сравните цены и
      br
      | выберите лучшее предложение.
    .maintenance__list
      - for (var i = 0; i < 5; ++i)
        select.maintenance__select.select
          option.maintenance__option Марка
      button.maintenance__button Показать 1377 сервисов